@font-face {font-family: 'Raleway';font-weight:normal;font-style:normal;src: url("xara_font_1.woff?202") format("woff"), local('Raleway');}
@font-face {font-family: 'xr2_Noto Sans';font-weight:bold;font-style:normal;src: url("xara_font_2.woff?202") format("woff"), local('xr2_Noto Sans');}
@font-face {font-family: 'Alex Brush';font-weight:bold;font-style:normal;src: url("xara_font_3.woff?202") format("woff"), local('Alex Brush');}
